#containnerCardizao {
  width: 85%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #f5f5f5;
  border-top: 3px solid #f5f5f5;
  transition: border-color .5s ease-in-out;
  padding: 3%;
}
#containnerCardizao:hover {
  border-color: var(--orange);
}
#containnerImgLista {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#containnerImagemCardizao {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#palestrante01 {
  max-height: 100%;
}
.cardMainGrande {
  height: 100%;
}

#containnerListaCardizao {
  width: 70%;
  height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.informacoes {
  height: 33.3%;
  width: 100%;
  display: flex;
}
.containnerIconeCardzao {
  min-width: 10%;
  min-height: 100%;
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.textoCardzao {
  margin-top: 20px;
  background-color: #f8f8f8;
  text-align: justify;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1);
  padding: 7px;
}
.svgCardzao {
  width: 70px;
  height: 70px;
}

.textoCardzao:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background-color: var(--blue);
  color: #fff;
}
.subTitulo {
  text-align: center;
}

@media (max-width: 1550px){
  .svgCardzao {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
}

@media (max-width: 1350px){
  .svgCardzao {
    width: 45px;
    height: 45px;
    margin-right: 30px;
  }
}
@media (max-width: 1050px){
  #containnerImgLista {
    display: flex;
    flex-direction: column;
    width: 97%;
  }
  .textoCardzao {
    width: 120%;
    margin-left: 20px;
  }
  #containnerListaCardizao {
    width: 100%;
  }
}