.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: #42A7FF;

  width: 250px;
  height: 400px;
  perspective: 1000px;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 4px 15px 3px rgba(0, 0, 0, 0.25);
}




/* Parte da frente do card */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
  position: relative;
}
.foto {
  position: absolute;
  z-index: 0;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}
.fotoFade {
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  
}
#figure2 {
  z-index: 1;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
.flip-card-container figure {
  z-index: -1;
}

/* figure, .img-bg */
.flip-card-container figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */
.flip-card-container img {
  height: 100%;
  border-radius: 24px;
}
.flip-card-container i{
  color: var(--grey);
}
/* figcaption */
#titulo_palestra{
  margin-top: 10px;
  margin-left: 5px;
  color: white;
  z-index: 1;
}

.card-front h1 {
  font-size: 20px;
  text-shadow: 1px 1px 1px #0C4D85;
}
.card-front h2{
  font-size: 22px;
  margin-left: 12px;
  width: 90%;
  border-bottom: 2px solid white ;
  position: absolute;
  bottom: 50px;
  color: var(--white-1);
  text-shadow: 1px 1px 1px #0C4D85;
}
.card-front h3 {
  position: absolute;
  bottom: 5px;
  left: 15px;
  color: var(--white-1);
  font-size: 16px;
  text-shadow: 1px 1px 1px #0C4D85;

}
#containnerDataHora {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  padding-left: 5px;
  margin-top: 10px;
}
.bi-calendar4-week {
  color: #fff;
  height: 20px;
  width: 20px;
  margin-bottom: 8px;
}
#legendaDataHora {
  font-size: 18px;
  text-shadow: 1px 1px 1px #0C4D85;
  -webkit-text-stroke: 1px #0C4D85;

}
/* Parte da frente do card */






/* Parte de tras do card */
.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}
.card-back h2 {
  color: var(--white-1);
  text-align: center;
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 26px;
}
.card-back > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nome_palestrante_pttras{
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
}
#descricaoPalestra {
  color: var(--white-1);
  text-align: center;
  overflow: hidden;
  line-height: 25px;
  width: 90%;
  height: 105px;
  margin: 0;
}
/* O atributo dos 3 pontos nao quis funcionar, infelizmente. */
#tresPontos {
  color: var(--white-1);
  display: flex;
  justify-content: center;
  line-height: 3px;
}
#sala{
  color: var(--grey);
  text-align: center;
  border-top: 1px solid var(--grey);
  width: 90%;
  margin-top: 30px;
}
#sala_palestra{
  margin-left: 60px;
  margin-top: 40px;
}
#containnerSocialCard   {
  height: 34px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 17px;
}
#containnerSocialCard > img {
  border-radius: 0px;
  margin-bottom: 15px;
}
#vagas {
  color: var(--ligth-orange);
  padding-top: 3px;
}
/* Parte de tras do card */


/* button */
#inscricao {
  margin-top: 290px;
  font-weight: bold;
  color: var(--white-1);
  letter-spacing: 2px;
  border: 1px solid var(--grey);
  border-radius: 10px;
  background: transparent;
  transition-delay: .3s;
  text-decoration: none;
  width: 70%;
  text-align: center;
  cursor: pointer;
  height: 40px;
}

#inscricao:hover,
#inscricao:focus {
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: var(--ligth-orange);
}

.flip-card-container a:active {
  transform: translate(2px);
}

/* .design-container */
.design-container {
  --tr: 90;
  --op: .5;

  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: .3s;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 91%;
}

.design--6 {
  top: 79%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
  top: 76%;
}

.design--8 {
  top: 94%;
}

/* states */
#inscricao:hover+.design-container,
#inscricao:active+.design-container,
#inscricao:focus+.design-container {
  --tr: 20;
  --op: .3;
}

.flip-card-container h1{
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid white;
  margin: auto;
  text-align: center;
  text-align: left;
  width: 95%;
}

.flip-card-container h2 #cargo_palestrante{
  color: var(--white-1);
  font-size: 18px;
}


@media (max-width: 1400px) {
  .flip-card-container {
    transform: scale(.85);
  }
}



@keyframes fadeImage3 {
  0% {
    background-image: url(/assets/Imgs/Palestrantes/pessoa03.png);
  }
  50% {
    background-image: url(/assets/Imgs/Palestrantes/pessoa04.png);
  }
}


@keyframes fadeImage21 {
  0% {
    background-image: url(/assets/Imgs/Palestrantes/pessoa22.png);
  }
  50% {
    background-image: url(/assets/Imgs/Palestrantes/pessoa23.png);
  }
}

@keyframes fadeImage23 {
  0% {
    background-image: url(/assets/Imgs/Palestrantes/pessoa25.png);
  }
  50% {
    background-image: url(/assets/Imgs/Palestrantes/pessoa26.png);
  }
}

#fade3 {
  background-image: url(/assets/Imgs/Palestrantes/pessoa03.png);
  animation: fadeImage3 7s infinite;
}

#fade21 {
  background-image: url(/assets/Imgs/Palestrantes/pessoa22.png);
  animation: fadeImage21 7s infinite;
}

#fade23 {
  background-image: url(/assets/Imgs/Palestrantes/pessoa25.png);
  animation: fadeImage23 7s infinite;
}



.h3 {
  display: none;
}
.h21 {
  display: none;
}
.h23 {
  display: none;
}