* {
  font-family: 'Fira Code',  monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --main-bg-color: #0C4D85;
  --background-blue: #0C4D85;
  --white: #FCFCFC;
  --blue: #42A7FF;
  --hover_botao_enviar: hsl(207, 90%, 40%);
  --orange: #f7941e;
  --ligth-orange: #f7a94a;
  --quadradinhos: #0c4d8531;
  --hubFont: 'Press Start 2P', cursive;
  --textFont: 'Fira Code',  monospace;
  
  /* --background-blue: #0C4D85; */
  /* --laranjado:  #f7941e ; */
}